# Specify filepatterns you want git to ignore.
**/*.pem
*~
*swp
.directory
**/systemd/user/*.target*

Home/gtk/**
!Home/gtk/.config/gtk-3.0/gtk.css
!Home/gtk/.config/gtk-3.0/settings.ini

Home/ssh/*
/Win/AppData/Roaming/Sublime Text 3/Packages/User/Package Control.cache
**bash_history**
Home/fonts/.local/*
Session.vim
