[user]
  name = JButler
  email = fattredd@gmail.com
[commit]
#  template = ~/.config/git/commit_template
[core]
  attributesfile = ~/.config/git/attributes
  excludesFile = ~/.config/git/global_ignore
  autocrlf = false
[log]
  date = auto:human
[alias]
  co = checkout
  cot = checkout --track
  cob = checkout -b
  colast = checkout @{-1}
  comine = checkout --ours
  cothem = checkout --theirs
  copatch = checkout --patch
  nbr = !""
  lbr = branch -a
  unadd = reset --
  cd = !"cd `git rev-parse --show-toplevel`"
  pulldev = !"git stash && git checkout develop && git pull && git stash pop"
  fetchdev = fetch origin develop:develop
  rebasedev = !"git fetch develop:develop && git rebase develop"
  recom = commit --amend --no-edit
  repush = !"git commit --amend --no-edit && git push -f"
  fpush = push -f
  rmbr = branch -d
  rmbrp = !"git branch -d $1; git push origin :$1 && echo Removed"
  lg = log --graph --oneline --all
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%  %ae%C(reset)' --all
  fuckit = !"git checkout . && git clean -fdx"
  redo = !"git reset --hard @~1 && git pull"
  purgeclean = !"git reflog expire --expire=now --all && git gc --prune=now --aggressive"
  bfg = !"git-bfg-repo"
  fire = !"git-fire"
[filter "password"]
# Smudge is on checkout
  smudge = sed -e 's/@superSecretPassword@/@superSecretPassword@/'
# Clean is on stage
  clean = sed -e 's/@superSecretPassword@/@superSecretPassword@/'
[filter "workemail"]
  clean = sed -e 's/@jack.butler@bwpapersystems.com@/@fattredd@gmail.com@/'
[filter "hideline"]
  clean = ~/.config/git/ignoreLine
[filter "ignorechanges"]
  clean = ~/.config/git/ignorechanges %f
[pull]
  ff = only
[rebase]
  autostash = true
[push]
  default = current
[filter "version"]
  clean = ~/.config/git/versionClean
[init]
  defaultBranch = main
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[lfs "https://git.rigidgear.com/jack/rc.git/info/lfs"]
  locksverify = true
[safe]
  directory = /opt

[include]
  path = ~/.config/git/gitconfig-local

[grep]
	lineNumber = true
